

.test{
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4 {
    color:#005588;
    padding: 10px;

}

.imageStyle {
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;
}