form{
    /* background: #f2f5f1; */
    background: white;
    justify-content: center;
    min-width: 500px;
    max-width: 500px;
    min-height: 380px;
    max-height: 380px;
    padding: 30px 20px 20px 20px;
    border: .5px solid lightgray;
}

.form-control{
    background:#f2f5f1;
    border-radius: 0;
    color: black;
}
.submitStyle{
    border: .5px solid lightgray; 
    background: #e4eddd;
    border-radius: 0;
    margin-top: 10px;
}

.centered {
    margin: 0 auto;
  }

  .already {
      margin-top: -18px;
      font-size: 12px;
  }

 /* unvisited link */
a:link {
    color:#8ca778;
}

/* visited link */
a:visited {
    color:#8ca778;
}

/* mouse over link */
a:hover {
    color: #cee1c0;
}

/* selected link */
a:active {
    color:#cee1c0;
}