body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.already {
    margin-top: 10px;
}

.signUpTitle{
    font-size: 30px;
    
}